{
    "presets": [
        "react",
        ["env",{
            "targets":{
                "ie":9,
                "chrome":35
            }
        }]
    ],
    "plugins": ["transform-object-rest-spread"]
}