<!DOCTYPE html>
<html>
	<head>
		<title>知因智慧</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
		<% if(htmlWebpackPlugin.options.build) { %>
		<link rel="stylesheet" href="libs/normalize.min.css" type="text/css"/>
		<link rel="stylesheet" href="libs/font-awesome.min.css" type="text/css"/>
		<script type="text/javascript" src="libs/react.min.js"></script>
		<script type="text/javascript" src="libs/react-dom.min.js" ></script>
		<script type="text/javascript" src="libs/react-router-dom.min.js" ></script>
		<% } else { %>
		<link rel="stylesheet" href="libs/normalize.css" type="text/css"/>
		<link rel="stylesheet" href="libs/font-awesome.css" type="text/css"/>
		<script type="text/javascript" src="libs/react.js"></script>
		<script type="text/javascript" src="libs/react-dom.js" ></script>
		<script type="text/javascript" src="libs/react-router-dom.js" ></script>
		<% } %>
  	</head>
  	<body>
		<div class="wrapper"></div>
	</body>
</html>