<!DOCTYPE html>
<html>
	<head>
		<title>主页</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
		<% for (var css in htmlWebpackPlugin.options.style) { %>
		<link rel="stylesheet" href="<%= htmlWebpackPlugin.options.style[css] %>" type="text/css"/>
		<% } %>
		<% for (var lib in htmlWebpackPlugin.options.libs) { %>
		<script type="text/javascript" src="<%= htmlWebpackPlugin.options.libs[lib] %>"></script>
		<% } %>
  	</head>
  	<body>
		<div class="wrapper"></div>
	</body>
</html>