
/** 
 *  author: 
 *  date: 
 */

/* --------common-----start----- */

html{
    height: 100%;
}
body{
    height: 100%;
    font: 14px/1.5em Helvetica, "Microsoft YaHei", Arial, sans-serif;
    color:#333;
}
:global .wrapper{
    min-height: 100%;
}

/* --------common-----end----- */


/* -------base-input-----start----- */

:global .input{
    position: relative;
    display: inline-block;
    
}
:global .input > input{
    box-sizing: border-box;
    width:200px;
    height:32px;
    border:1px solid red;
    padding:4px 8px;
    border-radius: 4px;
    outline:0;
}
:global .input > input:hover,
:global .input > input:focus{
    border-color:blue;
}

/* -------base-input----end---- */